
.dad {
    margin: 0 auto;
    display:grid;
    grid-template-columns:repeat(26, 15px);
    grid-template-rows:repeat(27, 15px);
    
    background-color:black;
    width: 390px;
    height: 390px;
  }
 
  .dad div:nth-child(1) {
    grid-column:1 / 3;
    grid-row:1 / 3;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAC4jAAAuIwF4pT92AAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAADpSURBVHja7FdBDoIwEJyaJv7Cm/EvPAS9GeI7DPGmPIS/GG/+wtN6gCHYWKiKdI3MrRvCzi6zs8WICGJihsiYCFgAMPm8EsJqU0XPR4xxluxmpk8QnYAREb8GhgLfS2jSgCUTAFjjKgBQOEyHqphgPj0+4CJNdnjoRA/4PFHky88IBCcq9y8lTrNLpfxyKwAgyUGJCCm+PrBCVtKIq+5ME/+5ZXTCwrzTCXfcQjXQ1pLOMQw2GE+Fvk4wrt+ION/u3Af7hTMNXdpQso5rZxobKpyw+0LyD5dS+3QN1wy/fdYzBdN/QUzcBwAAT45Fd/0p2QAAAABJRU5ErkJggg==");
    background-repeat: no-repeat;
  }
  
  
  .dad div:nth-child(2) {
    grid-column:1 / 3;
    grid-row:9/ 13;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAC4jAA AuIwF4pT92AAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAADJSURBVHja 7JZBCsIwEEVfpOuCh2qhHsMT9AQVXVvoCTyGLryTQtdCXEhAh4bacZGA81cJ5MOfn0nmO+89AK6vXwuBcrwC MJYVAN22AGC/Prv3c1r+isRwHCs/pbhtGwAOp8eH8they8/PgRiCYgnpwFJ+cgcK2aUxxcNwmezmX/n59UBQF hSHbpaQFWn5+TgQ+7HmEF6Blp/ege7WfPUPzN2plp/egTANd/eNX1KxnIZafj4OWB6wPGB5wPKA5QHLA5YH /jYPPAcAszrgcS5B14sAAAAASUVORK5CYII=");
  }
  .dad div:nth-child(3){
    grid-column:1 / 3;
    grid-row:17/19;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAC4jA AAuIwF4pT92AAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABASURBVHj aYjxw4MB/BgoAEwOFgIVcjQcOHKCRC+zt7fFqaGxspG4YjBowGAxgIRTP9HMBLG3TPQwAAAAA//8DAPltC6q3 KNe8AAAAAElFTkSuQmCC");
  }
  .dad div:nth-child(4){
    grid-column:3/5;
    grid-row:3/7;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTA AALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABTSURBV HjaYtwtw/efAQ84mlLEwMDAwGA9pw+rPBMDhYDlj+cPkjSgq6fYBQNvAGNDQ8P/AXUBC4yBK57p5wJc8Tz4o 5F6YQDLdXR3AQAAAP//AwBJ4RFBmp/j6AAAAABJRU5ErkJggg==");
  }
  .dad div:nth-child(5){
    grid-column:3/5;
    grid-row:11/13;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAC4jAA AuIwF4pT92AAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAADJSURBVHja 7JZBCsIwEEVfpOuCh2qhHsMT9AQVXVvoCTyGLryTQtdCXEhAh4bacZGA81cJ5MOfn0nmO+89AK6vXwuBcrwC MJYVAN22AGC/Prv3c1r+isRwHCs/pbhtGwAOp8eH8they8/PgRiCYgnpwFJ+cgcK2aUxxcNwmezmX/n59UBQF hSHbpaQFWn5+TgQ+7HmEF6Blp/ege7WfPUPzN2plp/egTANd/eNX1KxnIZafj4OWB6wPGB5wPKA5QHLA5YH /jYPPAcAszrgcS5B14sAAAAASUVORK5CYII=");
  }
  .dad div:nth-child(6){
    grid-column:3/5;
    grid-row:17/27;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTA AALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABTSURBV HjaYtwtw/efAQ84mlLEwMDAwGA9pw+rPBMDhYDlj+cPkjSgq6fYBQNvAGNDQ8P/AXUBC4yBK57p5wJc8Tz4o 5F6YQDLdXR3AQAAAP//AwBJ4RFBmp/j6AAAAABJRU5ErkJggg==");
  }
  .dad div:nth-child(7){
    grid-column:3/9;
    grid-row:13/15;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTA AALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABTSURBV HjaYtwtw/efAQ84mlLEwMDAwGA9pw+rPBMDhYDlj+cPkjSgq6fYBQNvAGNDQ8P/AXUBC4yBK57p5wJc8Tz4o 5F6YQDLdXR3AQAAAP//AwBJ4RFBmp/j6AAAAABJRU5ErkJggg==");
  }
  .dad div:nth-child(8){
    grid-column:7/9;
    grid-row:1/5;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAC4jA AAuIwF4pT92AAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABASURBVHj aYjxw4MB/BgoAEwOFgIVcjQcOHKCRC+zt7fFqaGxspG4YjBowGAxgIRTP9HMBLG3TPQwAAAAA//8DAPltC6q3 KNe8AAAAAElFTkSuQmCC");
  }
  .dad div:nth-child(9){
    grid-column:7/9;
    grid-row:7/11;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTA AALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABTSURBV HjaYtwtw/efAQ84mlLEwMDAwGA9pw+rPBMDhYDlj+cPkjSgq6fYBQNvAGNDQ8P/AXUBC4yBK57p5wJc8Tz4o 5F6YQDLdXR3AQAAAP//AwBJ4RFBmp/j6AAAAABJRU5ErkJggg==");
  }
  .dad div:nth-child(10){
    grid-column:7/9;
    grid-row:15/19;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAC4jA AAuIwF4pT92AAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABASURBVHj aYjxw4MB/BgoAEwOFgIVcjQcOHKCRC+zt7fFqaGxspG4YjBowGAxgIRTP9HMBLG3TPQwAAAAA//8DAPltC6q3 KNe8AAAAAElFTkSuQmCC");
  }
  .dad div:nth-child(11){
    grid-column:7/9;
    grid-row:19/23;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTA AALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABTSURBV HjaYtwtw/efAQ84mlLEwMDAwGA9pw+rPBMDhYDlj+cPkjSgq6fYBQNvAGNDQ8P/AXUBC4yBK57p5wJc8Tz4o 5F6YQDLdXR3AQAAAP//AwBJ4RFBmp/j6AAAAABJRU5ErkJggg==");
  }
  .dad div:nth-child(12){
    grid-column:7/9;
    grid-row:25/27;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTA AALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABTSURBV HjaYtwtw/efAQ84mlLEwMDAwGA9pw+rPBMDhYDlj+cPkjSgq6fYBQNvAGNDQ8P/AXUBC4yBK57p5wJc8Tz4o 5F6YQDLdXR3AQAAAP//AwBJ4RFBmp/j6AAAAABJRU5ErkJggg==");
  }
  .dad div:nth-child(13){
    grid-column:9/11;
    grid-row:13/17;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAC4jAA AuIwF4pT92AAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAADJSURBVHja 7JZBCsIwEEVfpOuCh2qhHsMT9AQVXVvoCTyGLryTQtdCXEhAh4bacZGA81cJ5MOfn0nmO+89AK6vXwuBcrwC MJYVAN22AGC/Prv3c1r+isRwHCs/pbhtGwAOp8eH8they8/PgRiCYgnpwFJ+cgcK2aUxxcNwmezmX/n59UBQF hSHbpaQFWn5+TgQ+7HmEF6Blp/ege7WfPUPzN2plp/egTANd/eNX1KxnIZafj4OWB6wPGB5wPKA5QHLA5YH /jYPPAcAszrgcS5B14sAAAAASUVORK5CYII=");
  }
  .dad div:nth-child(14){
    grid-column:9/11;
    grid-row:25/27;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAC4jAA AuIwF4pT92AAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAADySURBVHja 7FYhEsIwENwwnanFgeQ5xeGw8ANQ8ISi6A+KxdXBc5DgaquCIZ3mSEoSRJNM12XmZud2s5cc45zDFa9mywFg lpbMlWOCgTE2MDYwNsC670BzXUqPQr2aQzXn+xPjAHDcbQAA0+oJAEjXN6nOhM8vB4QyU1AHhEKKvLhI5/ OB++NAInW6yGSFj7ta0aeu/kEunGnrFQ6FlQHqkA5CqXCAOhl+BqhSeufazPiYgcRGMa3Lq6x3/r94C5GBEnFkw BTxZcAW8WaATkOQGXDaB3R/QusIUez1PtC7E/47FbqNKbydsHtnNjDhG9yB9wC1mor7QrCddwAAAABJRU5E rkJggg==");
    background-repeat: no-repeat;
  }
  .dad div:nth-child(15){
    grid-column:11/13;
    grid-row:11/13;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTA AALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABTSURBV HjaYtwtw/efAQ84mlLEwMDAwGA9pw+rPBMDhYDlj+cPkjSgq6fYBQNvAGNDQ8P/AXUBC4yBK57p5wJc8Tz4o 5F6YQDLdXR3AQAAAP//AwBJ4RFBmp/j6AAAAABJRU5ErkJggg==");
    
  }
  .dad div:nth-child(16){
    grid-column:11/15;
    grid-row:13/15;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAC4jAA AuIwF4pT92AAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAADJSURBVHja 7JZBCsIwEEVfpOuCh2qhHsMT9AQVXVvoCTyGLryTQtdCXEhAh4bacZGA81cJ5MOfn0nmO+89AK6vXwuBcrwC MJYVAN22AGC/Prv3c1r+isRwHCs/pbhtGwAOp8eH8they8/PgRiCYgnpwFJ+cgcK2aUxxcNwmezmX/n59UBQF hSHbpaQFWn5+TgQ+7HmEF6Blp/ege7WfPUPzN2plp/egTANd/eNX1KxnIZafj4OWB6wPGB5wPKA5QHLA5YH /jYPPAcAszrgcS5B14sAAAAASUVORK5CYII=");
  }
  .dad div:nth-child(17){
    grid-column:11/13;
    grid-row:15/23;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTA AALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABTSURBV HjaYtwtw/efAQ84mlLEwMDAwGA9pw+rPBMDhYDlj+cPkjSgq6fYBQNvAGNDQ8P/AXUBC4yBK57p5wJc8Tz4o 5F6YQDLdXR3AQAAAP//AwBJ4RFBmp/j6AAAAABJRU5ErkJggg==");
    
  }
  .dad div:nth-child(18){
    grid-column:12/13;
    grid-row:24/27;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTA AALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABTSURBV HjaYtwtw/efAQ84mlLEwMDAwGA9pw+rPBMDhYDlj+cPkjSgq6fYBQNvAGNDQ8P/AXUBC4yBK57p5wJc8Tz4o 5F6YQDLdXR3AQAAAP//AwBJ4RFBmp/j6AAAAABJRU5ErkJggg==");
    
  }
  .dad div:nth-child(19){
    grid-column:13/15;
    grid-row:5/7;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTA AALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABTSURBV HjaYtwtw/efAQ84mlLEwMDAwGA9pw+rPBMDhYDlj+cPkjSgq6fYBQNvAGNDQ8P/AXUBC4yBK57p5wJc8Tz4o 5F6YQDLdXR3AQAAAP//AwBJ4RFBmp/j6AAAAABJRU5ErkJggg==");
    
  }
  .dad div:nth-child(20){
    grid-column:13/15;
    grid-row:9/11;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAC4jA AAuIwF4pT92AAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABASURBVHj aYjxw4MB/BgoAEwOFgIVcjQcOHKCRC+zt7fFqaGxspG4YjBowGAxgIRTP9HMBLG3TPQwAAAAA//8DAPltC6q3 KNe8AAAAAElFTkSuQmCC");
    
  }
  .dad div:nth-child(21){
    grid-column:13/15;
    grid-row:19/23;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTA AALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABTSURBV HjaYtwtw/efAQ84mlLEwMDAwGA9pw+rPBMDhYDlj+cPkjSgq6fYBQNvAGNDQ8P/AXUBC4yBK57p5wJc8Tz4o 5F6YQDLdXR3AQAAAP//AwBJ4RFBmp/j6AAAAABJRU5ErkJggg==");
    
  }
  .dad div:nth-child(22){
    grid-column:13/15;
    grid-row:24/25;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTA AALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABTSURBV HjaYtwtw/efAQ84mlLEwMDAwGA9pw+rPBMDhYDlj+cPkjSgq6fYBQNvAGNDQ8P/AXUBC4yBK57p5wJc8Tz4o 5F6YQDLdXR3AQAAAP//AwBJ4RFBmp/j6AAAAABJRU5ErkJggg==");
    
  }
  .dad div:nth-child(23){
    grid-column:13/15;
    grid-row:25/27;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAC4jAA AuIwF4pT92AAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAADHSURBVHja 3JfRDcMgDERNxFZdJxNkAWCBTtB1Mhf54qNRrjaWKp/wJzKBezobJ/XeJTI2CY7cWvtCUEpJ/zzwfl44gTQ8YCVx z7OSQ9+PJ1Br/VkGGonX5y0iIud+POYjYjxVMG6s3RQFUq4FjQeypny2T1hJjjyePqC52xtalfB2QqTAq5y2CqAHZ pVZSdF5IHs7n3WdfiJKaCbU3n3UIWfnBV4PeGfD2X28HvC+dusR8E5KViLhBDaPoidVaH29Klju7/gaAE2xjW515 SutAAAAAElFTkSuQmCC");
    
  }
  .dad div:nth-child(24){
    grid-column:15/17;
    grid-row:1/3;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAC4jA AAuIwF4pT92AAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABASURBVHj aYjxw4MB/BgoAEwOFgIVcjQcOHKCRC+zt7fFqaGxspG4YjBowGAxgIRTP9HMBLG3TPQwAAAAA//8DAPltC6q3 KNe8AAAAAElFTkSuQmCC");
  }
  .dad div:nth-child(25){
    grid-column:15/17;
    grid-row:3/7;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTA AALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABTSURBV HjaYtwtw/efAQ84mlLEwMDAwGA9pw+rPBMDhYDlj+cPkjSgq6fYBQNvAGNDQ8P/AXUBC4yBK57p5wJc8Tz4o 5F6YQDLdXR3AQAAAP//AwBJ4RFBmp/j6AAAAABJRU5ErkJggg==");
    
  }
  .dad div:nth-child(26){
    grid-column:15/17;
    grid-row:13/15;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAC4jA AAuIwF4pT92AAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABASURBVHj aYjxw4MB/BgoAEwOFgIVcjQcOHKCRC+zt7fFqaGxspG4YjBowGAxgIRTP9HMBLG3TPQwAAAAA//8DAPltC6q3 KNe8AAAAAElFTkSuQmCC");
  }
  .dad div:nth-child(27){
    grid-column:15/17;
    grid-row:15/23;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTA AALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABTSURBV HjaYtwtw/efAQ84mlLEwMDAwGA9pw+rPBMDhYDlj+cPkjSgq6fYBQNvAGNDQ8P/AXUBC4yBK57p5wJc8Tz4o 5F6YQDLdXR3AQAAAP//AwBJ4RFBmp/j6AAAAABJRU5ErkJggg==");
    
  }
  .dad div:nth-child(28){
    grid-column:15/16;
    grid-row:24/27;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTA AALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABTSURBV HjaYtwtw/efAQ84mlLEwMDAwGA9pw+rPBMDhYDlj+cPkjSgq6fYBQNvAGNDQ8P/AXUBC4yBK57p5wJc8Tz4o 5F6YQDLdXR3AQAAAP//AwBJ4RFBmp/j6AAAAABJRU5ErkJggg==");
    
  }
  .dad div:nth-child(29){
    grid-column:17 / 19;
    grid-row:11/13;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAC4jA AAuIwF4pT92AAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABASURBVHj aYjxw4MB/BgoAEwOFgIVcjQcOHKCRC+zt7fFqaGxspG4YjBowGAxgIRTP9HMBLG3TPQwAAAAA//8DAPltC6q3 KNe8AAAAAElFTkSuQmCC");
  }
  .dad div:nth-child(30){
    grid-column:19/21;
    grid-row:3/7;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTA AALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABTSURBV HjaYtwtw/efAQ84mlLEwMDAwGA9pw+rPBMDhYDlj+cPkjSgq6fYBQNvAGNDQ8P/AXUBC4yBK57p5wJc8Tz4o 5F6YQDLdXR3AQAAAP//AwBJ4RFBmp/j6AAAAABJRU5ErkJggg==");
    
  }
  .dad div:nth-child(31){
    grid-column:19/21;
    grid-row:7/9;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAC4jA AAuIwF4pT92AAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABASURBVHj aYjxw4MB/BgoAEwOFgIVcjQcOHKCRC+zt7fFqaGxspG4YjBowGAxgIRTP9HMBLG3TPQwAAAAA//8DAPltC6q3 KNe8AAAAAElFTkSuQmCC");
  }
  .dad div:nth-child(32){
    grid-column:19/21;
    grid-row:9/11;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTA AALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABTSURBV HjaYtwtw/efAQ84mlLEwMDAwGA9pw+rPBMDhYDlj+cPkjSgq6fYBQNvAGNDQ8P/AXUBC4yBK57p5wJc8Tz4o 5F6YQDLdXR3AQAAAP//AwBJ4RFBmp/j6AAAAABJRU5ErkJggg==");
    
  }
  .dad div:nth-child(33){
    grid-column:19/21;
    grid-row:15/17;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTA AALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABTSURBV HjaYtwtw/efAQ84mlLEwMDAwGA9pw+rPBMDhYDlj+cPkjSgq6fYBQNvAGNDQ8P/AXUBC4yBK57p5wJc8Tz4o 5F6YQDLdXR3AQAAAP//AwBJ4RFBmp/j6AAAAABJRU5ErkJggg==");
    
  }
  .dad div:nth-child(34){
    grid-column:19/21;
    grid-row:19/21;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTA AALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABTSURBV HjaYtwtw/efAQ84mlLEwMDAwGA9pw+rPBMDhYDlj+cPkjSgq6fYBQNvAGNDQ8P/AXUBC4yBK57p5wJc8Tz4o 5F6YQDLdXR3AQAAAP//AwBJ4RFBmp/j6AAAAABJRU5ErkJggg==");
    
  }
  .dad div:nth-child(35){
    grid-column:19/21;
    grid-row:23/27;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTA AALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABTSURBV HjaYtwtw/efAQ84mlLEwMDAwGA9pw+rPBMDhYDlj+cPkjSgq6fYBQNvAGNDQ8P/AXUBC4yBK57p5wJc8Tz4o 5F6YQDLdXR3AQAAAP//AwBJ4RFBmp/j6AAAAABJRU5ErkJggg==");
    
  }
  .dad div:nth-child(36){
    grid-column:21/23;
    grid-row:5/7;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAC4jA AAuIwF4pT92AAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABASURBVHj aYjxw4MB/BgoAEwOFgIVcjQcOHKCRC+zt7fFqaGxspG4YjBowGAxgIRTP9HMBLG3TPQwAAAAA//8DAPltC6q3 KNe8AAAAAElFTkSuQmCC");
  }
  .dad div:nth-child(37) {
    grid-column:21/ 23;
    grid-row:9/ 15;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAC4jAA AuIwF4pT92AAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAADJSURBVHja 7JZBCsIwEEVfpOuCh2qhHsMT9AQVXVvoCTyGLryTQtdCXEhAh4bacZGA81cJ5MOfn0nmO+89AK6vXwuBcrwC MJYVAN22AGC/Prv3c1r+isRwHCs/pbhtGwAOp8eH8they8/PgRiCYgnpwFJ+cgcK2aUxxcNwmezmX/n59UBQF hSHbpaQFWn5+TgQ+7HmEF6Blp/ege7WfPUPzN2plp/egTANd/eNX1KxnIZafj4OWB6wPGB5wPKA5QHLA5YH /jYPPAcAszrgcS5B14sAAAAASUVORK5CYII=");
  }
  .dad div:nth-child(38){
    grid-column:21/23;
    grid-row:19/21;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAC4jA AAuIwF4pT92AAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABASURBVHj aYjxw4MB/BgoAEwOFgIVcjQcOHKCRC+zt7fFqaGxspG4YjBowGAxgIRTP9HMBLG3TPQwAAAAA//8DAPltC6q3 KNe8AAAAAElFTkSuQmCC");
  }
  .dad div:nth-child(39){
    grid-column:21/23;
    grid-row:25/27;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTA AALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABTSURBV HjaYtwtw/efAQ84mlLEwMDAwGA9pw+rPBMDhYDlj+cPkjSgq6fYBQNvAGNDQ8P/AXUBC4yBK57p5wJc8Tz4o 5F6YQDLdXR3AQAAAP//AwBJ4RFBmp/j6AAAAABJRU5ErkJggg==");
    
  }
  .dad div:nth-child(40){
    grid-column:23/25;
    grid-row:3/7;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTA AALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABTSURBV HjaYtwtw/efAQ84mlLEwMDAwGA9pw+rPBMDhYDlj+cPkjSgq6fYBQNvAGNDQ8P/AXUBC4yBK57p5wJc8Tz4o 5F6YQDLdXR3AQAAAP//AwBJ4RFBmp/j6AAAAABJRU5ErkJggg==");
    
  }
  .dad div:nth-child(41){
    grid-column:23/25;
    grid-row:9/11;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTA AALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABTSURBV HjaYtwtw/efAQ84mlLEwMDAwGA9pw+rPBMDhYDlj+cPkjSgq6fYBQNvAGNDQ8P/AXUBC4yBK57p5wJc8Tz4o 5F6YQDLdXR3AQAAAP//AwBJ4RFBmp/j6AAAAABJRU5ErkJggg==");
    
  }
  .dad div:nth-child(42){
    grid-column:23/25;
    grid-row:13/21;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTA AALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABTSURBV HjaYtwtw/efAQ84mlLEwMDAwGA9pw+rPBMDhYDlj+cPkjSgq6fYBQNvAGNDQ8P/AXUBC4yBK57p5wJc8Tz4o 5F6YQDLdXR3AQAAAP//AwBJ4RFBmp/j6AAAAABJRU5ErkJggg==");
    
  }
  .dad div:nth-child(43){
    grid-column:23/25;
    grid-row:23/27;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTA AALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABTSURBV HjaYtwtw/efAQ84mlLEwMDAwGA9pw+rPBMDhYDlj+cPkjSgq6fYBQNvAGNDQ8P/AXUBC4yBK57p5wJc8Tz4o 5F6YQDLdXR3AQAAAP//AwBJ4RFBmp/j6AAAAABJRU5ErkJggg==");
    
  }
  .dad div:nth-child(44){
    grid-column:25/27;
    grid-row:9/11;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAC4jA AAuIwF4pT92AAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABASURBVHj aYjxw4MB/BgoAEwOFgIVcjQcOHKCRC+zt7fFqaGxspG4YjBowGAxgIRTP9HMBLG3TPQwAAAAA//8DAPltC6q3 KNe8AAAAAElFTkSuQmCC");
  }
  