.background {
background: linear-gradient(to bottom right, #2B1713, #584744);
width:900px;
height: 450px;
margin: 0 auto;
position: relative;


}
img {
    width: 270px;
    height: 300px;
   
}
.info {
    background-color: white;
    width: 470px;
    height: 300px;
}
.page-wrap {
    display: flex;
    transform: translate(9%, 11%);


    
    
    
}
.slogan {
    text-align: center;
    color: black;
    
    padding-top: 30px;
    padding-bottom: 30px;
}
.menu {
    display: flex;
    justify-content: center;
}
.first_line {
    text-align: center;
}
.positions {
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color:gray;
    padding-top: 3px;
    padding-bottom: 1px;
    margin-top: 5px;
    position: relative;
}
.positions:hover {
    transition: all 1s ease;
    transform: scale(1.1);
    cursor: pointer;
}

.second_line {
    margin-left: 40px;
    text-align: center;
}
p {
    padding-top: -1px;
    color: gray;
    line-height: 4px;
}
.square {
    width: 10px;
    height: 10px;
    background-color: gray;
    position: absolute;
    top:54px;
    left:62px;
    transform: rotate(45deg);
}
.qq {
    color: white;
    text-align: center;
    background-color: black;
    width: 120px;
    height: 30px;
    padding-top: 15px;
    position: absolute;
    right: 79px;
    bottom: 60px;
    cursor: pointer;

}
.qq:hover {
    transition: all 1s ease;
    transform: scale(1.1);
}

.offer {
    color: white;
    text-align: center;
    background-color: black;
    padding-top: 10px;
    width: 270px;
    height: 120px;
    line-height: 2px;
    position: absolute;
    left: 70px;
    bottom: 130px;
    cursor: pointer;
}
.offer:hover {
    transition: all 1s ease;
    transform: scale(1.2);
}
