@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Source+Sans+Pro:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    
    font-family: 'Source Sans Pro', 'Roboto', sans-serif;

}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    

}

header {
    background-color: #6176F7;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 0;
    
}
.header-menu{
    display: none;
    
}
.mob-menu{
    display: none;
    position: absolute;
    top:95px;
    width: 100%;
    height: 100%;
    font-size: large;
    
}
.mob-menu.active{
    display: block;
    position: absolute;
    top:95px;
    width: 100%;
    height: 100%;
    font-size: large;
    background-color:#6176F7;
    z-index: 99;
    
    

}
.mob-menu a {
    display: block;
    text-align: center;
    line-height: 80px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    
    
    
    
}
.log-button {
    display: none;
}
.burger-icon {
    display: block;
}
.burger-icon img {
    filter: invert(1);
    width: 40px;
    height: 40px;
    margin-right: 10px;
}


.burger-icon .open {
    display: block;

}
.burger-icon.active .open {
    display: none;

}
.burger-icon .close {
    display: none;

}
.burger-icon.active .close {
    display: block;

}
.content img {
    margin-left: 10px;
}


.main-section {
    background-color: #6176F7;
}
.main-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    

}



.title p:nth-of-type(1) {
    font-size: 16px;
    color: #FFC27A;
    text-transform: uppercase;
}
.main-wrap h1 {
    font-size: 36px;
    color:white;
    font-weight: 600;
    padding: 24px 0;
}
.title p:nth-of-type(2) {
    font-size: 14px;
    color: #CFD3D6;
    
}
.title form {
    padding: 24px 0;
}


.main-wrap img {
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
    margin-top: -70px;
}
form {
    display: flex;
}
form input{
    background-color: white;
    height: 50px;
    width: 300px;
}
form button {
    height: 50px;
    width:50px ;
}

.about {
    background-color: #F1F2F8;
    height:100px;
    display: flex;
    align-items: center;
    overflow: scroll;
    
}
.about-wrap {
    display: flex;
    justify-content: space-between;
    
}
.about-block {
    display: flex;
    margin-right: 22px;
    margin-left: 10px;
    align-items: center;
    column-gap: 24px;
    
}
.block-title h1 {
    font-size: 36px;
    padding-top: 24px;
    padding-bottom: 16px;
    text-align: center;
}
.block-title p {
    font-size: 16px;
    color: #6D737A;
    text-align: center;
}




.popular-course {
    text-align: center;
}

span{
    color: #3461FD;
}


.courses {
    display: flex;
    column-gap: 24px;
    overflow: scroll;
    
}

.course-block {
    
    width: 312px;
    height: 403px;
    padding: 16px;
    font-size: 20px;
    border-radius: 24px;
    text-align: left;
    color: black;
    box-shadow:1px 1px 10px gray,
    inset 0px -1px 1px gray;
    margin-top: 50px;
    margin-bottom: 100px;
    position: relative;
}






.vote {
    display: flex;
    column-gap: 13px;
    padding-top: 20px;
    
    
}

.price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color:#6D737A;
    padding: 22px 0;
    margin: 21px 0;

    
    
}
.price p {
    font-size: 24px;
    color: black;
    font-weight: 600;
    
}
.direction {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 0.6;
    padding: 6px 13px;
    border-radius: 6px;
    position: absolute;
    top:24px;
    left: 24px;
}
.scroll {
    display: none;
}

.popular-category {
    
    background-color: #F1F2F8;
}



.categorys{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    column-gap: 24px;
    margin-left: 10px;
    padding-bottom: 50px;

}

.categiries-group {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    
    
}




.category-icon {
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.category-block {
    display: flex;
    justify-content: space-between;
    border-radius: 22px;
    background-color: white;
    padding: 16px 16px;
    width:312px;
    

}

figcaption {
    font-weight: 600;
    color: #1B1D1F;
    
    
}



.instructor-block {
    width: 312px;
    height: 370px;
    padding: 16px;
    border-radius: 24px;
    text-align: center;
    color: black;
    box-shadow:1px 1px 10px gray,
    inset 0px -1px 1px gray;
    margin-top: 50px;
    position: relative;

}
.instructor-block h1 {
    font-weight: 400;
    font-size: 20px;
    padding-top: 16px;
    padding-bottom: 8px;
}
.instructor-block p {
    font-weight: 400;
    font-size: 16px;
    color: #6D737A;
}
.instructors {
    display: flex;
    column-gap: 24px;
    overflow: scroll;
    
}

.feedback {
    display: flex;
    flex-direction: column;
    background-color: #F1F2F8;

    
}
.feedbacks {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;

}


.feedback-block {
    display:block;
    border-radius: 22px;
    background-color: white;
    padding: 32px;
    width:400px;
    height: 286px;
    margin: 0 auto;
    
    


}
.user {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    margin-bottom: 32px;
    
}

.user-photo {
    display: flex;
    align-items: center;
    column-gap: 10px;
}





































































@media (min-width:833px){

    .content img {
        margin-left: 0px;
    }


    .header-menu{
        display: block;
    }    
    .mob-menu {
        display: none;
    }
    .header-menu nav a{
        color:white;
        text-decoration: none;
        padding-left: 48px;
    }
    
    
    .log-button {
        display: flex;
        align-items: center;
    }
    .logIn {
        display: flex;
        align-items: center;
        background: transparent;
        border: none;
        color: white;
        padding:0 8px;
    
    }
    .signUp {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        border: none;
        background: linear-gradient(180deg, #FFC27A 0%, #FFA337 100%);
        width: 167px;
        height: 48px;
        border-radius: 100px;
        margin-left: 24px;
    
    }
    .burger-icon {
        display: none;
    }



    .main-wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
        
        
        
    }
    .title {
        display: block;
        margin-bottom: 140px;
        
        
        
        
    
    }
    .title p:nth-of-type(1) {
        font-size: 24px;
        color: #FFC27A;
        text-transform: uppercase;
    }
    .main-wrap h1 {
        font-size: 56px;
        
        color:white;
        font-weight: 600;
        padding: 24px 0;
        font-style: normal;

    }
    .title p:nth-of-type(2) {
        font-size: 20px;
        color: #CFD3D6;
        
    }
    .main-wrap img {
        width: 638px;
        height: 638px;
        margin-bottom: 248px;
        
    }

    form {
        display: flex;
    }
    form input{
        background-color: white;
        width: 576px;
        height: 72px;
    }
    form button {
        height: 72px;
        width:72px ;
    }



    .about {
        background-color: #F1F2F8;
        height:184px;
        display: flex;
        align-items: center;
        overflow: hidden;
        
    }
    .about-wrap {
        display: flex;
        justify-content: space-between;
        
    }
    .about-block {
        display: flex;
        align-items: center;
        column-gap: 24px;
        width: 320px;
        
    }

    .block-title h1 {
        font-size: 56px;
        padding-top: 100px;
        padding-bottom: 16px;
        text-align: left; 
    }
    .block-title p {
        font-size: 20px;
        text-align: left;
        color: #6D737A; 
    }
 


 


    .courses {
        display: flex;
        column-gap: 24px;
        overflow: hidden;
        
    }
    .course-block {
        margin-bottom: 0;
    }
    .scroll {
        display: block;
        text-align: center;
        margin: 65px 0 100px 0;
    }
   



    .categorys{
        margin-top: 50px;
        padding-bottom: 100px;
        margin-left: 0;
        display: flex;
        justify-content: center;
        overflow: hidden;
        column-gap: 24px;
        row-gap: 24px;
    
    }
    .categiries-group {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        
        
    }




    .instructors {
        display: flex;
        column-gap: 24px;
        overflow: hidden;
        
    }
    .instructor h1:nth-child(1){
        font-weight: 600;
        font-size: 56px;
        text-align: left;
    }
    .instructor p:nth-child(2){
        font-weight: 400;
        font-size: 20px  ;
        text-align: left;
    }
   


    .feedback-block {
        display:block;
        border-radius: 22px;
        background-color: white;
        padding: 32px;
        width:424px;
        height: 286px;
        margin: 0 auto;
        
        
    
    
    }



  
   


}



    

