* {
    font-family: Arial, Helvetica, sans-serif;


}

    

.page-wrap {
    
    margin:  20px auto;
    border: 1px solid black;
    width: 1200px;
    height: 600px;
    position: relative;
    
    
}
.title {
    
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: x-large;
    padding: 2px 0px;
}
.offers {
    display: flex;
    justify-content: center;
    position: relative;
    
    
}
.category {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-color: gray;
    border-width:1px 0px 1px 1px;
    border-style: solid;
    width:260px;
    height: 430px;
    margin-top: 40px;
    position: relative;
}
.wall {
    border-color: gray;
    border-width:1px 1px 1px 1px;
    border-style: solid;
}
.chapter {
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: gray;
    border-width: 0px 0px 1px 0px;
    width: 235px;
    height: 90px;
    cursor: pointer;
    
}
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 230px;
    height: 190px;
    
}
img {
    width: 130px;
    height: 150px;
    cursor: pointer;
}
.name {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #248DFD;
    font-weight: 600;
    width: 230px;
    height: 30px;
    cursor: pointer;
}
.price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    width: 230px;
    height: 40px;
}
.to_buy {
    display: flex;
    justify-content: center;
    
    width: 230px;
    height: 70px;
}
.button {
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background-color: yellow;
    cursor: pointer;
}
.inert {
    text-align: center;
    background-color: #D036D0;
    color: white;
    font-weight:600;
    font-size: small;
    cursor:default;
}
span {
    font-weight: 600;
    font-size: small;
    text-decoration: line-through;
}
.sticker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #54AB22;
    border-radius: 50%;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    position: absolute;
    right: 5px;
    top:-27px;
    font-size: xx-small;
    color: white;
    cursor: pointer;

}
.sticker.hit_sales {
    background-color: #248DFD;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid gray;
    background-color: white;
    position: absolute;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.left {
    left:-14px;
    top:81px;
    background-image: url(../images/left.svg);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    

}
.right {
    right:-14px;
    top:81px;
    background-image: url(../images/right.svg);
    background-size: 25px 25px;
    background-repeat: no-repeat;
}

