@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
main{
    height: 100vh;
    background-color: black;
    overflow: hidden;
}
main header{
    padding: 29px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main header img:nth-child(1){
    width: 170px;
    height: 41px;
    display: block;
}
main header img:nth-child(2){
    width: 170px;
    height: 41px;
    display: none;
}
.burger{
    display: none;
}
.nav {
    display: flex;
    align-items: center;
    column-gap: 40px;
}
main header nav a{
    font-size: 18px;
    text-decoration: none;
    color: white;
}
main header nav a:hover{
    color: #A8FF35;
}
main header div{
    display: flex;
    column-gap: 10px;
}
main header nav .log button{
    width: 129px;
    height: 42px;
    padding: 12px, 32px, 12px, 32px;
    border-radius: 40px;
    background-color: white;
    cursor: pointer;
    transition: .5s all ease;
    border: none;
}
main header nav .log button:hover{
    background-color: #A8FF35;
    transition: .5s all ease;
}
main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}
main section h1{
    font-size: 72px;
    text-align: center;
    color: white;
}
main section p{
    font-size: 18px;
    text-align: center;
    color: #8B8B8B;
    padding-top: 20px;
}
main section .button-get{
    position: relative;
    padding-top: 30px;
}
main section .button-get button{
    width: 129px;
    height: 42px;
    padding: 12px, 32px, 12px, 32px;
    border-radius: 40px;
    font-weight: bold;
    background-color: #A8FF35;
    cursor: pointer;
    transition: .5s all ease;
    border: none;
}
main section .button-get button:hover{
    background-color: white;
    transition: .5s all ease;
}
main section .button-get img{
    position: absolute;
    top: 12px;
    left:150px;
    animation: item1 10s infinite;
}
main .blocks{
    width: 100%;
    position: relative;
    margin: 50px;
}
main .blocks .block{
    background-color: #181818;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 342px;
    height: 52px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: .5s all ease;
}
main .blocks .block:hover{
    background-color: #A8FF35;
    transition: .5s all ease;
}
main .blocks .block:hover p{
    color: black;
}
main .blocks .block img:nth-child(1){
    width: 32px;
    height: 32px;
}
main .blocks .block p{
    color: white;
    font-size: 23px;
    padding-top: 0;
}
main .blocks .block img:nth-child(3){
    width: 16px;
    height: 16px;
    rotate: 5deg;
}
main .blocks .block:nth-child(1){
    position: absolute;
    bottom: 35%;
    left: 5%;
    rotate: -6deg;
    z-index: 10;
}
main .blocks .block:nth-child(2){
    position: absolute;
    bottom: -10%;
    left: 18%;
    rotate: 5deg;
    z-index: 9;
}
main .blocks .block:nth-child(3){
    position: absolute;
    bottom: 25%;
    right: 35%;
    rotate: -2deg;
    z-index: 8;
}
main .blocks .block:nth-child(4){
    position: absolute;
    bottom: -10%;
    right: 15%;
    rotate: 3deg;
    z-index: 7;
}
@keyframes item1{
    0%{
        rotate: 0deg;
        scale: 1;
    }
    50%{
        rotate: 10deg;
        scale: 1.1;
    }
    100%{
        rotate: 0deg;
        scale: 1;
    }
}
.open{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #A8FF35;
    overflow: hidden;
    height: 70vh;

}
.open h1{
    font-size: 72px;
    font-weight: bold;
    color: black;
}
.open div{
    padding: 50px 50px;
    background-color: white;
    border-radius: 15px;
    margin: 30px 0;
}
.open div .block{
    background-color: #181818;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 342px;
    height: 52px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: .5s all ease;
    border-radius: 0;
}
.open div .block p{
    color: white;
}
.open p{
    font-size: 18px;
    text-align: center;
    color: black;
}
.title{
    display: flex;
    align-items: center;
    padding: 0 80px;
    height: 50vh;
}
.title h1{
    font-size: 64px;
    color: black;
}
.title h1 span{
    font-size: 64px;
    color: #ADADAD;
} 
.brands-block{
    padding: 0 80px;
}
.brands-block h1{
    font-size: 64px;
    color: black;
    text-align: center;
    padding-bottom: 20px;
}
.brands-block{
    width: 100%;
    overflow: hidden;
    padding: 100px 80px;
}
.brands-block .brands{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.brands-block .brands .brand{
    background-color: #F5F5F5;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 266px;
    height: 120px;
}
.brands-block .brands .brand img{
    width: 190px;
    height: 30px;
}



@media (max-width:700px){
    main header{
        height: 10vh;
        padding: 0 10px;
    }
    main header img:nth-child(1){
        display: none;
    }
    main header img:nth-child(2){
        display: block;
        width: 40px;
        height: 40px;
    }
    .burger{
        display: block;
        height: 40px;
        width: 40px;
        position: relative;
    }
    .line-one{
        height: 3px;
        width: 40px;
        background-color: white;
        transition: .5s all ease;
        position: absolute;
        top: 8px;
    }
    .line-two{
        height: 3px;
        width: 40px;
        background-color: white;
        transition: .5s all ease;
        position: absolute;
        bottom: 8px;
    }
    .line-one-active{
        height: 3px;
        width: 40px;
        background-color: white;
        position: absolute;
        top: 18px;
        rotate: -42deg;
        transition: .5s all ease;

    }
    .line-two-active{
        height: 3px;
        width: 40px;
        background-color: white;
        position: absolute;
        bottom: 18px;
        rotate: 42deg;
        transition: .5s all ease;
    }
    .nav {
        display: flex;
        background-color: black;
        flex-direction: column;
        justify-content: center;
        height: 90vh;
        width: 100%;
        gap: 20px;
        position: absolute;
        top: 10vh;
        left: -100%;
        z-index: 90;
        transition: .5s all ease;
    }
    .nav-active {
        display: flex;
        background-color: black;
        flex-direction: column;
        justify-content: center;
        height: 90vh;
        width: 100%;
        gap: 20px;
        position: absolute;
        top: 10vh;
        left: 0;
        z-index: 90;
        transition: .5s all ease;
    }
    main header nav a{
        font-size: 18px;
        text-decoration: none;
        color: white;
    }
    main header nav .log{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    main header nav .log button{
        font-size: 18px;
    }
    .main section{
        padding: 0 10px;
    }
    main section h1{
        font-size: 36px;
    }
    main section p{
        font-size: 14px;
    }
    main section .button-get img{
        display: none;
    }
    main .blocks{
        width: 100%;
        position: relative;
        margin: 350px 0 0 0;
    }
    main .blocks .block:nth-child(1){
        position: absolute;
        bottom: 280%;
        left: 50%;
        rotate: -6deg;
        z-index: 10;
        transform: translateX(-50%);
    }
    main .blocks .block:nth-child(2){
        position: absolute;
        bottom: 150%;
        left: 50%;
        rotate: 5deg;
        z-index: 9;
        transform: translateX(-50%);
    }
    main .blocks .block:nth-child(3){
        position: absolute;
        bottom: 70%;
        right: 50%;
        rotate: -2deg;
        z-index: 8;
        transform: translateX(50%);
        
    }
    main .blocks .block:nth-child(4){
        position: absolute;
        bottom: 0%;
        right: 50%;
        rotate: 3deg;
        z-index: 7;
        transform: translateX(50%);
    }
    .open{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #A8FF35;
        overflow: hidden;
        height: 50vh;
        padding: 0 10px;
    
    }
    .open h1{
        font-size: 36px;
    }
    .open div{
        padding: 0px 20px;
        background-color: white;
        border-radius: 14px;
        margin: 30px 0;
    }
    .open p{
        font-size: 14px;
    }
    .title{
        display: flex;
        align-items: center;
        padding: 0 10px;
        height: 50vh;
    }
    .title h1{
        font-size: 36px;
        color: black;
    }
    .title h1 span{
        font-size: 36px;
        color: #ADADAD;
    } 
    .brands-block{
        padding: 0 10px;
    }
    .brands-block h1{
        font-size: 36px;
        color: black;
        text-align: center;
        padding-bottom: 20px;
    }
    .brands-block .brands .brand{
        background-color: #F5F5F5;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45%;
        height: 120px;
    }
    .brands-block .brands .brand img{
        width: 80%;
        height: auto;
    }
    
}